<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-5xl font-extrabold dark:text-white">Editing property</h1>
  <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

  <%= render "form", property: @property %>

  <%= link_to "Show this property", @property, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to properties", properties_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
