<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Property types</h1>
    <%= link_to 'New property type', new_property_type_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="property_types" class="min-w-full">
    <%= render @property_types %>
  </div>
</div>
