<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @property_type %>

    <%= link_to 'Edit this property_type', edit_property_type_path(@property_type), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this property_type', property_type_path(@property_type), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to property_types', property_types_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
